:root {
    --transitionDefault: .3s ease-out;
}

.overflow {
    padding-right: 17px;
    overflow: hidden;
}

.backdrop, .backdropContainer, .backdropItem {
    display: none;
    width: 100%;
    transition: var(--transitionDefault);
    box-sizing: border-box;
}

.backdrop, .backdropContainer {
    position: fixed;
    top: 0;
    left: 0;
}

.backdrop, .backdropItem {
    opacity: 0;
}

.backdrop {
    z-index: 4;
    height: 150vh;
    background-color: rgba(0,0,0,.7);
}

.backdrop.active {
    opacity: .7;
}

.backdropContainer {
    z-index: 5;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    overflow: auto;
}

.backdropItem {
    position: relative;
    z-index: 5;
    max-width: 684px;
    margin: auto;
    transform: translateY(20px);
}

.backdropItem.active {
    opacity: 1;
    transform: translateY(0);
}

.backdrop-close {
    position: absolute;
    color: #000;
}

@media (max-width: 992px) {
    .backdropContainer {
        align-items: flex-start;
        padding-top: 59px;
        padding-bottom: 0;
    }

    .backdropItem {
        margin-top: 0;
    }

    .backdrop-close {
        top: 28px;
    }
}

@media (max-width: 992px) {
    .overflow {
        padding-right: 0;
        overflow: hidden;
    }
}

@media (max-width: 575px) {
    .backdropItem {
        border-radius: 0;
        box-shadow: none;
    }
}


/* */

.modal {
    width: 100%;
    height: 800px;
    background-color: #fff;
    box-shadow: 0 3px 9px rgba(0,0,0,.7)
}